body {
  margin: 0;
  padding: 0;
}

.about {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.background-image {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.home_logo {
  font-size: 36px;
  font-family: Gabriola;
  font-weight: 700;
  color: #680747;
}

.home_tags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.home_tags li {
  margin-left: 20px;
}

.home_tags li a {
  text-decoration: none;
  color: black;
}
.home_content-h1{
    color: black;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.header h1{
    font-size: 30px;
    font-weight: 700;
}
.projects {
    display: flex;
    height: 300px;
  }
  
  .projects img {
    flex: 0 0 auto;
    height: 100%;
    margin-right: 10px; 
    border-radius: 25%;
  }
  
  .projects img:last-child {
    margin-right: 0; /* Remove margin from the last image */
  }
  button{
    height: 50px;
    width: auto;
    border: 3px;
    display: flex;
    justify-content: center;
  }
  .button {
        position: absolute;
        margin-top:  100px;
        left: 50%; 
        transform: translateX(-50%);
        border: 2px solid black;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-family: cursive;
        padding: 0 20px;
        cursor: pointer;
        background-color: transparent;
        color: black; 
      }
 
  .button:hover {
    background-color: black; 
    color: white; 
  }
  @media screen and (max-width: 768px) {
    .home_content-h1{
      font-size: 20px;
    }
    .projects{
      display: flex;
      flex-wrap: wrap;
      
    }
    .projects img{
      margin-bottom: 30px;
    }
   
  }
  
  